### Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1: R 
2: Python
3: SQL
4: Julia

### Some of the commonly used libraries used by Data Scientists include:
1: pandas
2: numpy
3: scikit-learn
4: seaborn
5: Tensorflow

### Data Science Tools:
1: Jupyter Notebooks
2: RStudio
3: Apache Spark

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
(3*4)+5
#  This a simple arithmetic expression to mutiply the add integers

17

In [4]:
200 / 60
#  This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

### Objectives:
R
Python
SQL

### Author:
Paul Olusola